 #chat {
    max-width: 600px;
    height: 350px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid gray;
  }

  .container_chat {
    display: flex;
  }
  
  #messageArea {
    height: 290px;
    margin: 10px 0 10px;
    border: 1px solid gray;
  }
  
  #messageInput {
    width: 300px;
    margin-right: 10px;
    padding: 5px;
  }
  
  button {
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
  }